<div class="section projects">
  <a class="anchor" id="projects"></a>
  <h2>Projets</h2>
  <div class="project-cards">

    <% @projects.each do |project| %>
      <div class="project-card project-card-active hover">
        <div class="card-title">
          <h3><%= project.name %></h3>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <%= cl_image_tag project.cover_photo.key, class: "card-image" %>

        <%# <% if project.cover_photo_mobile.attached? %>
          <%# <div class="card-mobile-thumbnail">
            <div class="nudge">
              <div class="nudge-shape"></div>
            </div>
            <%= cl_image_tag project.cover_photo_mobile.key %>
          <%# </div> %>
        <%# <% end %>

        <% unless project.expertises.empty? %>
          <div class="project-card-expertises">
            <% project.expertises.each do |expertise| %>
              <div class="project-card-expertise">
                <i class="<%= expertise.fontawesome.to_s %>"></i>
                <p><%= expertise.name %></p>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= link_to "", project_path(project), class: "card-link" %>
      </div>
    <% end %>

    <div class="project-card no-link">
      <div class="card-title">
        <h3>Randomize</h3>
      </div>
      <div class="card-empty-message">
        <i class="fa-solid fa-person-digging"></i>
        <p><strong>En construction</strong></p>
        <p>Randomize proposera des activités de dernière minute aléatoires pour
          favoriser la découverte de nouveaux concepts et les rencontres !
        </p>
      </div>
    </div>
      <div class="project-card hover">
        <div class="card-title">
          <h3>Un projet à réaliser ?</h3>
        </div>
        <div class="card-empty-message">
          <i class="fa-solid fa-bolt"></i>
          <p><strong>Dites-m'en plus</strong></p>
          <p>
            Site internet, application web,
            ecommerce... Je peux sûrement vous aider !
          </p>
            <button type="button" class="btn btn-primary px-3 py-3 rounded-3">
              Me contacter
            </button>
        </div>
        <%= link_to "", new_contact_path, class: "card-link" %>
      </div>
  </div>
</div>
