<div class="navbar navbar-expand-sm navbar-light navbar-lewagon"
  data-controller="navbar" >
  <div class="container-fluid">
    <%= link_to root_path(anchor: :home), class: "navbar-brand",
    data: { action: "click->navbar#colapse" } do %>
      <%= cl_image_tag "louishocquet/logo_big" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"
        data-navbar-target="colapsableElement">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active" data-action="click->navbar#colapse">
          <%= link_to "Accueil", root_path(anchor: :home), class: "nav-link" %>
        </li>
        <li class="nav-item active" data-action="click->navbar#colapse">
          <%= link_to "Expertise", root_path(anchor: :services), class: "nav-link" %>
        </li>
        <li class="nav-item active" data-action="click->navbar#colapse">
          <%= link_to "Projets", root_path(anchor: :projects), class: "nav-link" %>
        </li>
        <li class="nav-item active" data-action="click->navbar#colapse">
          <%= link_to "A propos de moi", root_path(anchor: :about_me), class: "nav-link" %>
        </li>
        <li class="nav-item active" data-action="click->navbar#colapse">
          <%= link_to anchor: :contact do %>
            <button type="button" class="btn btn-primary px-3 py-2 rounded-3">
              Me contacter
            </button>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
