<div class="container">
  <div class="row">
    <div class="col">
      <div class="section">
        <h1>Admin</h1>
        <% if user_signed_in? %>
          <p>Hello <%= current_user.email %></p>
          <h3>Projects</h3>
          <p>Currently <%= Project.count %> projects displayed</p>
          <%= link_to projects_path do %>
            <button type="button" class="btn btn-primary px-3 py-2 rounded-3">Manage Projects</button>
          <% end %>
          <h3>Tools</h3>
            <p>Currently <%= Tool.count %> tools</p>
            <%= link_to tools_path do %>
              <button type="button" class="btn btn-primary px-3 py-2 rounded-3">Manage Tools</button>
            <% end %>
          </div>
        <% else %>
          <p>You must sign in</p>
          <%= link_to new_user_session_path do %>
            <button type="button" class="btn btn-primary px-3 py-2 rounded-3">
              Login
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
