<div class="container">
  <div class="row">
    <div class="col">
      <a id="home" class="anchor"></a>
      <%= render "components/banner" %>
      <%= render "components/services" %>
      <%= render "components/about_me"  %>
      <%= render "components/projects" %>
      <%= render "components/tools"  %>
    </div>
  </div>
</div>
