<div class="container">
  <div class="row">
    <div class="col">
      <a id="home" class="anchor"></a>
      <%= render "components/banner" %>
      <%= render "components/services" %>
      <%= render "components/projects" %>
      <%= render "components/about_me"  %>
      <%# <%= render "components/contact"  %>
    </div>
  </div>
</div>
